log.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="entry" type="entryType"/>
  <xs:complexType name="entryType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="source"/>
      <xs:element type="xs:string" name="level"/>
      <xs:element type="xs:string" name="message"/>
      <xs:element type="xs:string" name="message_long"/>
      <xs:element type="xs:dateTime" name="timestamp"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>